h1 {
  background-color: green;
}

img {
    width: 100%;
}

$color: white;
@mixin colors($color: blue) {
  background-color: $color;
  @content;
  border-color: $color;
}
.colors {
  @include colors { color: $color; }
}