{
  "root": true,
  "extends": "airbnb",
  "plugins": [
      "eslint-plugin-import", "react"
  ],
  "rules": {
    "no-script-url": "off",
    "import/no-extraneous-dependencies": "off",
    "no-console": 0,
    "react/forbid-prop-types": "off",
    "react/require-default-props": "off",
    "max-len": "off",
  },
  "env": {
    "browser": true,
    "node": true,
    "jasmine": true
  },
}
