html {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


/**
 * Basic styles for links
 */
a {
  color: $brand-color;

  @include on-event {
    color: $text-color;
    text-decoration: underline;
  }
}

input,
button {
  border: 0px;
  padding: 0px;
  margin: 0px;
}

.container {
  padding-right: 15px; padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 1040px;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

a {
  color: #333;
  text-decoration: none;
  &:hover {
    color: #0095BB;
  }
}

.col-xs-9 {
  width: 75%;
  display: inline-block;
}
.col-xs-3 {
  width: 25%;
  display: inline-block;
}
.col-xs-12 {
  width: 100%;
  display: inline-block;
}
.col-xs-2 {
  width: 20%;
  display: inline-block;
}
