// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

button {
  border: 0px;
  padding: 0px;
  margin: 0px;
}
