.movie-item {
  padding: 10px;
  .movie-link {
    display: block;
    position: relative;
    &:hover .item-hover {
      height: 100%;
      background-image: url('/assets/images/play-icon.png');
      background-position:center center;
      background-color: black;
    }
    .item-hover {
      width: 100%;
      font-size: 0;
      background: #000 no-repeat 10px 100px;
      opacity: 0.5;
      position: absolute;
      top: 0;
      height: 0;
    }
    .bdtag {
      background: #337AB7;
    }
    .qtag {
      padding: 0 3px;
      color: #FFF;
      font-size: 12px;
      right: 0px;
      bottom: 0px;
      position: absolute;
      border: none;
    }
  }
  img {
    width: 100%;
    vertical-align: middle;
  }
  .meta {
    background: #FFF;
    padding: 5px;
    h1 {
      width: 100%;
      height: 17px;
      line-height: 17px;
      font-size: 14px;
      overflow: hidden;
      margin: 0;
      padding: 0;
      overflow: hidden;
      em {
        font-size: 12px;
        font-style: normal;
        color: #8c8c8c;
      }
    }
    .otherinfo {
      margin-top: 5px;
      font-weight: normal;
      font-size: 12px;
      line-height: 20px;
      height: 20px;
      overflow: hidden;
      width: 100%;
      color: #7E7E7E;
      .movietype {
        display: inline-block;
        padding: 2px 5px 2px;
        border-radius: 2px;
        line-height: 1.2;
        color: #999;
        font-size: 12px;
        background-color: rgb(230,230,230);
        margin: 0 5px 5px 0;
      }
    }
  }
}
